.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/login-ground.jpg");
  overflow: hidden;
  color: white;
}

form {
  width: 50%;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
form > h2 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.container-button{
  display: flex;
  justify-content: center;
}
